@use './mixins' as *;
@use './media' as *;
@use './variables' as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 2rem;
    background-color: #323232;
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        }
    &__logo-link {
        display: flex;
        justify-content: center;
        @include tablet {
            padding-left: 2.25rem;
        }
        @include desktop {
            padding-left: 6rem;
        }
    }
    &__logo-icon {
        height: 1.25rem;
        width: 7.5rem;
    }
    &__nav-list {
        display: flex;
    }
    &__item {
        list-style-type: none;
        width: 50%;
        text-align: center;
            &:hover, &:visited {
                border-bottom: 2px solid white;
            
            @include tablet {
                border-bottom: none;
            }
        }
        @include tablet {
            width: auto;
            padding-left: 2.25rem;

        }     
    }
    &__link {
        text-decoration: none;
        color: #E1E1E1;
        font-size: .875rem; 
        &:hover, &:visited {
            color: white;
            font-weight: bold;
        @include tablet {
            text-decoration-line: underline;
            text-decoration-color: white;
            text-underline-offset: 2rem;
        }
        }   
    }
}

.header {
    display: flex;
    flex-direction: column;
    &__hero-background {
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position-y: 50%;
        height: calc(.6 * 100vw);
        width: 100%;
        max-height: 38.25rem;
        &--shows {
            background-image: url(../assets/Images/hero-shows.jpg);
            display: flex;
            flex-direction: column;
            height: calc(.9 * 100vw);
            max-height: 38.25rem;
            @include tablet {
                height: 38.25rem;
            }

        }
    } 
    &__hero-title {
        font-weight: 600;
        color: #fff;
        font-size: calc(.078 * 100vw);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        height: 100%;
        width: 100%;
        background-color: rgb(50, 50, 50, .5);
        @include tablet {
            font-size: 3.75rem;
            padding-left: 2.25rem;
        }
        @include desktop {
            padding-left: 6rem;
        }
        &--shows {
            background: none;
            @include tablet{
                height: auto;
            }
            
        }
    }
}
.section-header {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.375rem;
    width: 100%;
    @include tablet {
        font-size: 2.25rem;
        padding:0;
        line-height: 2.75rem;
    }
    &__footer {
        padding-left: 0;
        @include tablet {
            display: flex;
            align-content: baseline;
            width: auto;
        }
    }
    &__shows-title {
        padding: 1rem;
        @include tablet {
            padding-left: 2.25rem;
        }
        @include desktop {
            display:flex;
            padding-top: 2.25rem;
            width: 20%;
            justify-content:center;
        }
    }
   
}

.image {
    width: 20rem;
    height: 11rem;
    padding-top: 1rem;
    @include tablet {
        width: 32%;
        height: auto;
    }
}

.divider {
    stroke-width: 1px;
    color: #E1E1E1;
    border-left: 0;
    border-right: 0;
  
    &__form {
        @include desktop {
            width: 30%;
            }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    line-height: 1.125rem;
    background-color: #323232;
    font-size: .875rem;
    color: white;
    padding: .5rem 1rem 1rem 1rem;
    @include tablet {
    padding: 3rem 2.25rem;
    position: relative;
   }
   @include desktop {
    padding: 2.25rem 8rem;
   }

   
    &__logo-container {
        padding-top: 3.5rem;
        padding-bottom: .5rem;
        @include tablet {
            padding: 0;
            align-items: flex-start;
        }
    }
    &__logo {
        height: 1.25rem;
        width: 7.5rem;
        @include tablet {
            position: absolute;
            top: 4rem;
            right: 2.5rem;
        }
        @include desktop {
            right: 8rem;
        }
    }
    &__copyright {
        font-size: .625rem;
        line-height: 1.25rem;
        @include tablet {
            padding-top: 2.25rem;
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
}

.contact {
    @include tablet {
    display: flex;
    justify-content: space-between;
    }
    @include desktop {
        justify-content: flex-start;
    }
    &__info {
        font-size: .8125rem;
        line-height: 1.125rem;
        padding-bottom: 1rem;
        @include tablet {
            font-size: .875rem;
            padding-bottom: 2.25rem;
            line-height: 1.25rem;
        }
        &--bold {
            font-weight: 600;
            padding-top: .5rem;
        } 
    }
    &__container {
        padding: .5rem 0;

        @include tablet {
            display: flex;
            flex-direction: column;
            padding-top: 2.25rem;
        }
        @include desktop {
            padding-right: 5rem;
        }
    }
    &__link {
        text-decoration: none;
        color: white;
        font-size: .8125rem;
        line-height: 1.125rem;
        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
}
.social {
    @include tablet {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        align-items: baseline;
    }
    &__list {
        display: flex;
        width: 50%;
        justify-content: space-between;
        @include tablet {
        width: auto;
        }
    }
    &__item {
        padding-right: 1.5rem;
        list-style-type: none;
        @include tablet {
            padding-left: 2.25rem;
            padding-right: 0;
        }
    }
    &__link {
        display: flex;
    }
}