$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$padding-mobile: 1rem;
$font-mobile: .875rem;
$mercury: #E1E1E1;
$bandsite-black: #323232;
$bandsite-darkBlack: #000000;
$Silver: #AFAFAF;
$alabaster: #FAFAFA;
$api_key: "1bc95c99-6001-4a35-87f9-2e07236c9e3b";
    