@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/media' as *;


.nav {
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 2rem;
    background-color: #323232;
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        }
    &__logo-link {
        display: flex;
        justify-content: center;
        @include tablet {
            padding-left: 2.25rem;
        }
        @include desktop {
            padding-left: 6rem;
        }
    }
    &__logo-icon {
        height: 1.25rem;
        width: 7.5rem;
    }
    &__nav-list {
        display: flex;
    }
    &__item {
        list-style-type: none;
        width: 50%;
        text-align: center;
            &:hover, &:visited {
                border-bottom: 2px solid white;
            }
        @include tablet {
            width: auto;
            height: 100%;
            padding-left: 2.25rem;
        }     
    }
    &__link {
        text-decoration: none;
        color: #E1E1E1;
        font-size: .875rem; 
        &:hover, &:visited {
            color: white;
            font-weight: bold;
        }   
    }
}

.header {
    display: flex;
    flex-direction: column;
    &__hero-background {
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position-y: 50%;
        height: calc(.6 * 100vw);
        width: 100%;
        max-height: 56.25rem;
    } 
    &__hero-title {
        font-weight: 600;
        color: #fff;
        font-size: calc(.078 * 100vw);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        height: 100%;
        width: 100%;
        background-color: rgb(50, 50, 50, .5);
        @include tablet {
            font-size: 3.75rem;
            padding-left: 2.25rem;
        }
        @include desktop {
            padding-left: 6rem;
        }
    }
}
.body {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
        @include tablet {
            padding: 3rem 2.25rem;
        }
        @include desktop {
            padding: 2.25rem 8rem;
        }
    &__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet {
            padding: 0 3rem;
        }
    }
    &__image {
        width: 100%;
        height: calc(.5 * 100vw);
        max-height: 611px;
        // max-width: 380px;
            @include tablet {
            padding: 2.25rem 0;
            }
    }
    &__quote {
        font-size: .875rem;
        font-weight: 600;
        padding-top: .5rem;
        padding-bottom: 1rem;
        line-height: 1.375rem;
        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: 0;
        }
        &--artist {
            padding-top: 0;
            font-size: .875rem;
            line-height: 1.125rem;
        }    
    }
}

.bio {
    padding: .5rem 0;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.375rem;
        @include tablet {
            font-size: 1.5rem;
            padding-top: 2rem;
            padding-bottom: 1.125rem;
        
        &__copy-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            }
        }
    &__copy {
    padding: .5rem 0;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        width: 45%;
        padding-bottom: 0;
        font-size: .875rem;
        line-height: 1.125rem;
    }
}
}

.photo-gallery {
    background-color: #FAFAFA;
    @include tablet {
        padding: 3rem 2.25rem;
    }
    @include desktop {
        padding: 3rem 8rem;
    }
    &__image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1rem 1rem 1rem;
        @include tablet {
            padding: 1rem 0 0 0;
        } 
    }
    &__title {
        padding: 1.5rem 0 .5rem 1rem;
        display: block;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.375rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    line-height: 1.125rem;
    background-color: #323232;
    font-size: .875rem;
    color: white;
    padding: .5rem 1rem 1rem 1rem;
    @include tablet {
    padding: 3rem 2.25rem;
    position: relative;
   }
   @include desktop {
    padding: 2.25rem 8rem;
   }

   
    &__logo-container {
        padding-top: 3.5rem;
        padding-bottom: .5rem;
        @include tablet {
            padding: 0;
            align-items: flex-start;
        }
    }
    &__logo {
        height: 1.25rem;
        width: 7.5rem;
        @include tablet {
            position: absolute;
            top: 4rem;
            right: 2.5rem;
        }
        @include desktop {
            right: 8rem;
        }
    }
    &__copyright {
        font-size: .625rem;
        line-height: 1.25rem;
        @include tablet {
            padding-top: 2.25rem;
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
}

.contact {
    @include tablet {
    display: flex;
    justify-content: space-between;
    }
    @include desktop {
        justify-content: flex-start;
    }
    &__info {
        font-size: .8125rem;
        line-height: 1.125rem;
        padding-bottom: 1rem;
        @include tablet {
            font-size: .875rem;
            padding-bottom: 2.25rem;
            line-height: 1.25rem;
        }
        &--bold {
            font-weight: 600;
            padding-top: .5rem;
        } 
    }
    &__container {
        padding: .5rem 0;

        @include tablet {
            display: flex;
            flex-direction: column;
            padding-top: 2.25rem;
        }
        @include desktop {
            padding-right: 5rem;
        }
    }
    &__link {
        text-decoration: none;
        color: white;
        font-size: .8125rem;
        line-height: 1.125rem;
        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
}
.social {
    @include tablet {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        align-items: baseline;
    }
    &__list {
        display: flex;
        width: 50%;
        justify-content: space-between;
        @include tablet {
        width: auto;
        }
    }
    &__item {
        padding-right: 1.5rem;
        list-style-type: none;
        @include tablet {
            padding-left: 2.25rem;
            padding-right: 0;
        }
    }
    &__link {
        display: flex;
    }
}